@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&family=Cookie&family=Lobster&family=Lobster+Two:wght@400;700&family=Poppins:wght@400;500;600;700;800&family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amita:wght@400;700&family=Marck+Script&family=Norican&family=Oleo+Script+Swash+Caps:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Proza+Libre:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .paused {
    animation-play-state: paused;
  }
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

html,body {
  margin: 0;
  height: 100%;
  /* min-width: 320px; */
  /* min-height: 100vh; */
}

